body {color: #646d6c; font-family: liberation sans-serif; font-size: 1rem; margin: 0;}
h1 {font-weight: 900; margin-bottom: 0.5rem; margin-top: 0; font-size: 50px;}
p {margin-bottom: 1rem; margin-top: 0;}
strong {font-weight: bolder;}